.about {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 160px;
}

@media screen and (max-width: 768px) {
  .about {
    margin-top: 80px;
  }
}

.about__left {
  max-width: 710px;
}
@media screen and (max-width: 768px) {
  .about__left > h3 {
    max-width: 340px;
  }
}

.about__left > p {
  margin-top: 35px;
}

@media screen and (max-width: 1200px) {
  .about {
    flex-direction: column;
    justify-content: center;
  }
  .about__right > img {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .about__left > h3 {
    font-size: 22px;
    line-height: 25px;
  }
  .about__left > p {
    margin-top: 15px;
  }
}

.about__right {
  max-width: 750px;
}

.about__right > img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .about__right > img {
    border-radius: 10px;
  }
}

@media screen and (max-width: 380px) {
  .about__right > img {
    height: 240px;
  }
}

.result {
  margin-top: 30px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
@media screen and (max-width: 1000px) {
  .result {
    grid-column-gap: 20px;
    grid-row-gap: 20px;
  }
}

@media screen and (max-width: 768px) {
  .result {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    margin-top: 20px;
    grid-column-gap: 5px;
  }
}

.about-hr {
  margin-top: 30px;
  width: 100%;
  border-bottom: 1px solid rgba(238, 238, 238, 1);
}

@media screen and (max-width: 768px) {
  .about-hr {
    display: none;
  }
}

.about__wrap {
  margin: 150px 0 90px 0;
}

@media screen and (max-width: 768px) {
  .about__wrap {
    margin: 50px 0 50px 0;
  }
}

.project-scrollbar-block {
  position: absolute;
  bottom: -50px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1540px;
  padding: 0 10px 0 10px;
}

.swiper-scrollbar {
  max-width: 1520px !important;
  bottom: 0px !important;
  height: 2px !important;
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  background: rgba(255, 255, 255, 0.35) !important;
}
.swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 768px) {
  .project-scrollbar-block {
    display: none;
  }
}

@media screen and (max-width: 425px) {
  .dis-max {
    display: none;
  }
}
