.banner {
  max-width: 1920px;
  margin: 0px auto 0 auto;
}

.bannerSwiper {
  position: absolute;
}

.banner-btn {
  position: absolute;
  display: flex;
  bottom: 20px;
  right: 20px;
  z-index: 5;
}

.banner-buttons > button:first-child {
  margin-right: 10px;
}
.banner-card {
  position: relative;
}

.banner-card > img {
  height: 800px !important;
}

@media screen and (max-width: 425px) {
  .banner-card > img {
    height: 671px !important;
  }
}

@media screen and (max-width: 380px) {
  .banner-card > img {
    height: 600px !important;
  }
}

.slide__wrapper {
  position: absolute;
  top: 180px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: left;
  max-width: 1540px;
  padding: 0 40px 0 15px;
}

@media screen and (max-width: 600px) {
  .slide__wrapper {
    top: 100px;
  }
}

.banner__navigation {
  position: absolute;
  bottom: 15px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  max-width: 1540px;
  padding: 0 10px 0 10px;
}

@media screen and (max-width: 425px) {
  .banner__navigation {
    max-width: calc(100% - 30px);
  }
}

.img-min {
  display: none !important;
}
.img-mid {
  display: none !important;
}

@media screen and (max-width: 1440px) {
  .img-max {
    display: none !important;
  }
  .img-min {
    display: none !important;
  }
  .img-mid {
    display: block !important;
  }
}

@media screen and (max-width: 425px) {
  .img-min {
    display: block !important;
  }
  .img-max {
    display: none !important;
  }
  .img-mid {
    display: none !important;
  }
}

.slide__block {
  display: flex;
  align-items: center;
  margin-top: 80px;
}

@media screen and (max-width: 1024px) {
  .slide__block {
    flex-direction: column;
    align-items: start;
  }
}

@media screen and (max-width: 700px) {
  .slide__block {
    margin-top: 30px;
  }
}

.line {
  margin: 0 40px 0 40px;
  height: 36px;
}

@media screen and (max-width: 1024px) {
  .line {
    display: none;
  }
}

.banner-headline {
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 92px;
  line-height: 90px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  width: 750px;
}

@media screen and (max-width: 1440px) {
  .banner-headline {
    max-width: 600px;
    font-size: 70px;
    line-height: 70px;
  }
}

@media screen and (max-width: 600px) {
  .banner-headline {
    font-size: 48px;
    line-height: 50px;
    max-width: 100%;
  }
}

@media screen and (max-width: 375px) {
  .banner-headline {
    font-size: 40px;
    line-height: 40px;
  }
}

.slide__wrapper > p {
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 28px;
  line-height: 30px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
  padding: 0;
  margin-top: 20px;
}

@media screen and (max-width: 1024px) {
  .slide__wrapper > p {
    font-size: 25px;
    line-height: 25px;
  }
}

@media screen and (max-width: 768px) {
  .slide__wrapper > p {
    font-size: 22px;
    line-height: 22px;
  }
}

@media screen and (max-width: 380px) {
  .slide__wrapper > p {
    margin-top: 14px;
  }
}

.block__position {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1024px) {
  .block__position {
    margin-top: 10px;
  }
}

@media screen and (max-width: 380px) {
  .block__position {
    margin-top: 25px;
  }
}

.block__position > span {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: rgba(255, 255, 255, 1);
  margin-left: 10px;
}

@media screen and (max-width: 768px) {
  .block__position > span {
    font-size: 14px;
    line-height: 14px;
  }
}

.banner-button {
  width: 235px;
  height: 60px;
  padding: 17px 20px 18px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 425px) {
  .banner-button {
    width: 350px;
    height: 55px;
  }
}

@media screen and (max-width: 360px) {
  .banner-button {
    width: 95%;
  }
}

.banner-button:hover > a > svg {
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  transition: all 0.2s linear;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
}

.banner-pagination-style {
  display: none;
}

@media screen and (max-width: 425px) {
  .banner-scrollbar-style {
    display: none;
  }
  .banner-pagination-style {
    display: block;
  }
}

.pag {
  width: 100% !important;
}

.swiper-pagination-bullet {
  height: 2px !important;
  border-radius: 0 !important;
  background-color: rgba(255, 255, 255, 0.5) !important;
}
.swiper-pagination-bullet-active {
  background-color: rgba(255, 255, 255, 1) !important;
}

.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: var(--swiper-pagination-bottom, -10px) !important;
}

.swiper-pagination {
  text-align: left !important;
}
