.calculation__block {
  position: absolute;
  top: 70px;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
  display: flex;
  justify-content: space-between;
  background-color: rgba(239, 72, 36, 1);
  border-radius: 20px;
  max-width: 1520px;
  margin: 0 auto;
  padding: 60px 60px 50px 60px;
  align-items: center;
  height: 275px;
  z-index: 1;
}

@media screen and (max-width: 1151px) {
  .calculation__block {
    height: auto;
  }
}

.consultation-bg {
  position: absolute;
  top: 0;
  left: 295px;
}

.consultation-bg2 {
  display: none;
}

@media screen and (max-width: 1150px) {
  .consultation-bg {
    display: none;
  }
  .consultation-bg2 {
    display: block;
    position: absolute;
    top: 0;
    right: 0px;
  }
}

@media screen and (max-width: 1540px) {
  .calculation__block {
    max-width: calc(100% - 20px);
  }
}

@media screen and (max-width: 1360px) {
  .calculation__block {
    padding: 35px 30px 35px 30px;
  }
}

@media screen and (max-width: 1150px) {
  .calculation__block {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .calculation__block {
    top: 40px;
  }
}

@media screen and (max-width: 650px) {
  .calculation__block {
    padding: 25px;
  }
}

.calculation__left {
  max-width: 562px;
}

@media screen and (max-width: 1411px) {
  .calculation__left > h3 {
    font-size: 38px !important;
    line-height: 40px !important;
  }
}

.calculation__right {
  max-width: 690px;
}

@media screen and (max-width: 1360px) {
  .calculation__right {
    max-width: 610px;
  }
}

.calculation__form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

@media screen and (max-width: 1150px) {
  .calculation__form {
    margin-top: 10px;
  }
}

@media screen and (max-width: 700px) {
  .calculation__form {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-gap: 10px;
  }
}

.calculation__form > input {
  width: 335px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: rgba(241, 90, 58, 1);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1360px) {
  .calculation__form > input {
    width: 300px;
    height: 55px;
  }
}

@media screen and (max-width: 700px) {
  .calculation__form > input {
    width: 100%;
    font-size: 14px;
  }
}

.calculation__form > button {
  width: 335px;
  height: 60px;
  border: none;
  background-color: rgba(43, 41, 39, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 1360px) {
  .calculation__form > button {
    width: 300px;
    height: 55px;
  }
}

@media screen and (max-width: 650px) {
  .calculation__form > button {
    width: 100%;
  }
}

.consultation__agreement {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.45);
  text-align: start;
}
