.card {
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.card__description {
  max-width: 493px;
}

.card__description > span {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.45);
}

.card__description > h2 {
  margin: 10px 0 20px 0;
}

.description__table {
  display: grid;
  gap: 0px;
  grid-template-rows: 40px;
  grid-template-columns: 1fr 1fr;
  margin-top: 20px;
}

.description__table > li {
  height: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.9);
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
}

.bg {
  background-color: rgba(244, 243, 245, 1);
}

.card__claim {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.card__claim > button {
  width: 239px;
  height: 60px;
}

.card__claim > span {
  width: 239px;
  height: 60px;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  text-align: center;
  padding-top: 17px;
}
