.card {
  margin-top: 100px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .card {
    margin-top: 30px;
  }
}

.card__description {
  width: 493px;
  padding-right: 10px;
}

@media screen and (max-width: 1200px) {
  .card__description {
    width: 100%;
    margin-top: 30px;
  }
}

.card__description > span {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.45);
}

.card__description > h2 {
  margin: 10px 0 20px 0;
}

.description__table {
  margin-top: 20px;
}

.description__table > li {
  display: flex;
  min-height: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.9);
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
}

.description__table > li:nth-child(odd) {
  background-color: rgba(244, 243, 245, 1);
}

.description__table > li > span {
  width: 50%;
}

.card__claim {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

@media screen and (max-width: 768px) {
  .card__claim {
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim {
    flex-direction: column;
    justify-content: start;
  }
}

.card__claim > button {
  width: 239px;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .card__claim > button {
    width: 239px;
    height: 55px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim > button {
    width: 100%;
  }
}

.card__claim > span {
  width: 239px;
  height: 60px;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  text-align: center;
  padding-top: 17px;
}

@media screen and (max-width: 768px) {
  .card__claim > span {
    width: 239px;
    height: 55px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim > span {
    width: 100%;
  }
}

/**/

.goodsSliderMin {
  width: 90px;
  box-sizing: border-box;
  height: 550px;
  margin-top: 35px;
}

@media screen and (max-width: 700px) {
  .goodsSliderMin {
    height: 260px;
  }
}

.goodsSliderMin > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: 60px;
  border-radius: 5px;
}

.goodsSliderMin > .swiper-wrapper {
  padding: 0px 0 30px 0;
}

.goodsSliderMin .swiper-slide {
  width: 90px;
  height: 60px;
  opacity: 0.4;
}

.goodsSliderMin .swiper-slide-thumb-active {
  opacity: 1;
}

.goodsSlideMin > img {
  height: 60px;
}

.card__goods {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
}

.card__slider {
  max-width: 947px;
  border-radius: 2px;
}

@media screen and (max-width: 1500px) {
  .card__slider {
    width: 60%;
    padding-right: 10px;
    height: 610px;
  }
}

@media screen and (max-width: 1200px) {
  .card__slider {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .card__slider {
    height: 320px;
  }
}

.btn-goods-slider {
  width: 90px;
  height: 20px;
  background-color: rgba(254, 243, 241, 1);
  padding-bottom: 10px;
}

.slider-min-wrap {
  position: relative;
  padding-right: 10px;
}

@media screen and (max-width: 425px) {
  .slider-min-wrap {
    display: none;
  }
}

.btnTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.btnBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.card__sliderBlock {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .card__sliderBlock {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.goodsSliderMax > .swiper-wrapper > .swiper-slide {
  max-width: 847px;
}

.goodsSliderMax > .swiper-wrapper > .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}
