.card {
  margin-top: 60px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .card {
    margin-top: 20px;
  }
}

.card__description {
  width: 493px;
  position: relative;
}

@media screen and (max-width: 1200px) {
  .card__description {
    width: 100%;
    margin-top: 30px;
    padding-right: 10px;
  }
}

.card__description > span {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.45);
}

.card__description > h1 {
  margin: 10px 0 10px 0;
}

.card__description > p {
  color: rgba(43, 41, 39, 0.9);
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
}

.description__table {
  margin-top: 35px;
}

.description__table > li {
  display: flex;
  min-height: 40px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.9);
  padding: 10px 30px 10px 10px;
  border-radius: 5px;
}

.description__table > li:nth-child(odd) {
  background-color: rgba(244, 243, 245, 1);
}

.description__table > li > span {
  width: 50%;
}

.card__claim {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
}

@media screen and (max-width: 1200px) {
  .card__claim {
    margin-top: 20px;
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .card__claim {
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim {
    flex-direction: column;
    justify-content: start;
  }
}

.card__claim > a > button {
  width: 239px;
  height: 60px;
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .card__claim > a > button {
    width: 239px;
    height: 55px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim > a > button {
    width: 100%;
  }
}

.card__claim > span {
  width: 239px;
  height: 60px;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  text-align: center;
  padding-top: 17px;
}

@media screen and (max-width: 768px) {
  .card__claim > span {
    width: 239px;
    height: 55px;
    margin-top: 10px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim > span {
    width: 100%;
  }
}

.goodsSliderMin {
  width: 90px;
  box-sizing: border-box;
  height: 550px;
  margin-top: 35px;
}

@media screen and (max-width: 700px) {
  .goodsSliderMin {
    height: 260px;
  }
}

.goodsSliderMin > .swiper-wrapper > .swiper-slide > img {
  width: 100%;
  height: 60px;
  border-radius: 5px;
}

.goodsSliderMin > .swiper-wrapper {
  padding: 0px 0 30px 0;
}

.goodsSliderMin .swiper-slide {
  width: 90px;
  height: 60px;
  opacity: 1;
}

.goodsSliderMin .swiper-slide-thumb-active {
  opacity: 1;
}

.goodsSlideMin > img {
  height: 60px;
}

.card__goods {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
}

.card__slider {
  max-width: 947px;
  border-radius: 2px;
}

@media screen and (max-width: 1500px) {
  .card__slider {
    width: 60%;
    padding-right: 10px;
    height: 610px;
  }
}

@media screen and (max-width: 1200px) {
  .card__slider {
    width: 100%;
    padding-right: 0;
  }
}

@media screen and (max-width: 700px) {
  .card__slider {
    height: 320px;
  }
}

.btn-goods-slider {
  width: 90px;
  height: 20px;
  background-color: rgba(254, 243, 241, 1);
  padding-bottom: 10px;
}

.slider-min-wrap {
  position: relative;
  padding-right: 10px;
}

@media screen and (max-width: 425px) {
  .slider-min-wrap {
    display: none;
  }
}

.btnTop {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

.btnBottom {
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
}

.card__sliderBlock {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 1200px) {
  .card__sliderBlock {
    flex-direction: column;
    justify-content: flex-start;
  }
}

.goodsSliderMax > .swiper-wrapper > .swiper-slide {
  max-width: 847px;
}

.goodsSliderMax > .swiper-wrapper > .swiper-slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5px;
}

.card-scrollbar {
  display: none;
}

@media screen and (max-width: 425px) {
  .card-scrollbar {
    display: block;
  }
}

/*tabs*/

.card__tabs {
  max-width: 947px;
}

.nav-tabs {
  margin-top: 50px;
  display: flex;
  max-width: 947px;
  width: 100%;
  overflow-x: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.nav-tabs::-webkit-scrollbar {
  height: 0;
}

.nav-tab {
  white-space: nowrap;
  padding: 10px 30px 10px 27px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
  border-bottom: 0;
  text-decoration: none;
  border-bottom: 2px solid rgba(238, 238, 238, 1);
  background-color: transparent;
}

@media screen and (max-width: 768px) {
  .nav-tab {
    font-size: 14px;
  }
}

.nav-tab.active {
  cursor: pointer;
  color: rgba(239, 72, 36, 1);
  border-bottom: 2px solid rgba(239, 72, 36, 1);
  background-color: transparent;
}

.tab-pane {
  display: none;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.9);
  margin-top: 40px;
  max-width: 947px;
}

@media screen and (max-width: 1000px) {
  .tab-pane {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .tab-pane {
    margin-top: 20px;
  }
}

.tab-pane.active {
  display: flex;
}

.tab-size {
  width: 947px;
  background-color: rgba(244, 243, 245, 1);
  border-radius: 10px;
  display: grid;
  gap: 0px;
  grid-template-rows: repeat(5, 60px);
  grid-template-columns: 127px 205px 205px 205px 205px;
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.9);
}

.tab-size > div {
  padding-left: 10px;
  display: flex;
  align-items: center;
}

.pad-left20 {
  padding-left: 20px !important;
  display: flex;
  align-items: center;
  font-weight: 600 !important;
}
.tab-color255 {
  background-color: rgba(255, 255, 255, 1);
}

.tab-color {
  background-color: rgba(43, 41, 39, 1);
}

.tab-color255-padding {
  margin-top: 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 5px 5px 0 0;
}

.tab-color255-padding-bottom {
  margin-bottom: 5px;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 0 0 5px 5px;
}

.tab-color255 > div > span {
  color: rgba(43, 41, 39, 0.55);
}

.documents-card {
  width: 947px;
  height: 80px;
  background-color: #f4f3f5;
  border-radius: 10px;
  position: relative;
  display: flex;
  padding: 4px;
  align-items: center;
}

@media screen and (max-width: 1000px) {
  @media screen and (max-width: 768px) {
    .documents-card {
      padding: 20px;
    }
  }

  @media screen and (max-width: 1000px) {
    .documents-card {
      width: 100%;
    }
  }

  @media screen and (max-width: 500px) {
    .documents-card {
      align-items: start;
      flex-direction: column;
      height: 135px;
      padding: 20px;
    }
  }

  @media screen and (max-width: 375px) {
    .documents-card {
      padding: 10px;
    }
  }

  @media screen and (max-width: 768px) {
    .documents-card > a > button > svg {
      width: 15px;
      height: 15px;
    }
  }

  .tab-documents {
    width: 100%;
  }
}

.tab-documents div:not(:last-child) {
  margin-bottom: 10px;
}

.documents__logo-pdf {
  width: 72px;
  height: 72px;
  border-radius: 6px;
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  justify-content: center;
  margin-top: 8px;
}

@media screen and (max-width: 768px) {
  .documents__logo-pdf {
    width: 40px;
    height: 40px;
  }
}

.documents__logo-pdf > svg {
  align-self: center;
}

.documents__text {
  margin-left: 20px;
  font-family: "Manrope", sans-serif;
  padding-top: 12px;
}

@media screen and (max-width: 500px) {
  .documents__text {
    position: absolute;
    bottom: 0;
    margin-left: 0px;
  }
}

.documents__text > p {
  font-weight: 700;
  font-size: 16px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
}

@media screen and (max-width: 768px) {
  .documents__text > p {
    font-size: 14px;
    line-height: 20px;
  }
}

.documents__text > span {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.55);
}

.documents-card {
  position: relative;
}

.documents-card > a > button {
  position: absolute;
  top: 32%;
  right: 20px;
  cursor: pointer;
  background: none;
}

@media screen and (max-width: 500px) {
  .documents-card > a > button {
    top: 20px;
  }
}

.tab-characteristics {
  max-width: 947px;
}

.goodsSliderMin > div > div {
  cursor: pointer;
}

.card__claim2 {
  display: flex;
  justify-content: space-between;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .card__claim2 {
    margin-top: 20px;
    position: static;
  }
}

@media screen and (max-width: 768px) {
  .card__claim2 {
    margin-top: 20px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim2 {
    flex-direction: column;
    justify-content: start;
  }
}

.card__claim2 > a > button {
  margin-right: 15px;
}

@media screen and (max-width: 768px) {
  .card__claim2 > a > button {
    width: 239px;
    height: 55px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim2 > a > button {
    width: 100%;
  }
}

.card__claim2 > span {
  width: 239px;
  height: 60px;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
  border: 1px solid rgba(238, 238, 238, 1);
  text-align: center;
  padding-top: 17px;
}

@media screen and (max-width: 1200px) {
  .card__claim2 > span {
    margin-top: 0px;
  }
}

@media screen and (max-width: 768px) {
  .card__claim2 > span {
    width: 239px;
    height: 55px;
  }
}

@media screen and (max-width: 520px) {
  .card__claim2 > span {
    width: 100%;
    margin-top: 10px;
  }
}
