.cap {
  background-image: url(../images/catalog.webp);
  width: 100%;
  min-height: 380px;
}

@media screen and (max-width: 380px) {
  .cap {
    background-image: url(../images/catalog-min.webp);
    background-repeat: no-repeat;
    min-height: 230px;
  }
}

.position {
  position: relative;
  min-height: 380px;
}

@media screen and (max-width: 380px) {
  .position {
    min-height: 230px;
  }
}

.head {
  position: absolute;
  bottom: 45px;
  left: 10px;
}

@media screen and (max-width: 768px) {
  .head {
    bottom: 20px;
  }
}
