.command-wrap {
  position: relative;
  margin-top: 35px;
}

@media screen and (max-width: 768px) {
  .command-wrap {
    margin-top: 20px;
  }
}

.command-slide {
  padding-bottom: 20px;
}

.command-slide > img {
  border-radius: 20px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .command-slide > img {
    border-radius: 10px;
  }
}

.command__block {
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .command__block {
    margin-top: 15px;
  }
}

.command__block > p {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 25px;
  color: rgba(43, 41, 39, 0.55);
}

@media screen and (max-width: 768px) {
  .command__block > p {
    font-size: 13px;
    line-height: 20px;
  }
}

.line-red {
  width: 100px;
  margin: 15px 0 15px 0;
  border: 1.5px solid #ef4824;
}

@media screen and (max-width: 768px) {
  .line-red {
    margin: 5px 0 5px 0;
  }
}

.command-button {
  position: absolute;
  top: -85px;
  right: 0;
}
