.swiper-scrollbar {
  max-width: 1400px !important;
  bottom: 37px !important;
  height: 2px !important;
}

@media screen and (max-width: 1560px) {
  .swiper-scrollbar {
    max-width: 85% !important;
  }
}

@media screen and (max-width: 850px) {
  .swiper-scrollbar {
    max-width: 80% !important;
  }
}

@media screen and (max-width: 768px) {
  .swiper-scrollbar {
    max-width: 100% !important;
    bottom: 20px !important;
  }
}

.swiper-scrollbar.swiper-scrollbar-horizontal {
  background: rgba(255, 255, 255, 0.35) !important;
}
.swiper-scrollbar-drag {
  background: rgba(255, 255, 255, 1) !important;
}
