.modal {
  display: none;
}

.header {
  width: 100%;
  font-family: "Manrope", sans-serif;
}

.header__container {
  max-width: 1860px;
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  margin: 0px auto;
  padding: 10px 10px 10px 10px;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .header__container {
    padding: 13px 10px 14px 10px;
  }
}

.header__open-menu {
  display: none;
}

@media screen and (max-width: 850px) {
  .header__open-menu {
    display: block;
    cursor: pointer;
  }
}

.header__close-menu {
  display: none;
}

.header-style li:first-child {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(43, 41, 39, 0.45);
  align-items: center;
  display: flex;
  cursor: pointer;
}

.header-first {
  justify-content: space-between;
  padding: 15px 10px 15px 10px;
}

@media screen and (max-width: 870px) {
  .header-first {
    display: none;
  }
}

.nav-wrapper {
  margin-top: 5px;
}

@media screen and (max-width: 1450px) {
  .nav-wrapper {
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  .nav-wrapper {
    flex-direction: row;
    margin-top: 0px;
  }
}

.header-style li:first-child::before {
  content: url(./../images/pin.svg);
  width: 16px;
  height: 20px;
  margin-right: 10px;
}

.header-style li:first-child > span {
  color: rgba(43, 41, 39, 1);
}

.header-style li:nth-child(2) {
  color: #eeeeee;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  letter-spacing: 0em;
}

.hr-header {
  border-bottom: 1px solid rgba(238, 238, 238, 1);
  height: 1px;
}

@media screen and (max-width: 870px) {
  .hr-header {
    display: none;
  }
}

.header__left {
  display: flex;
}

@media screen and (max-width: 1450px) {
  .header__left {
    width: 100%;
    display: flex;
    justify-content: space-between;
  }
}

.header__left > a > img {
  width: 157px;
  height: 40px;
}

@media screen and (max-width: 850px) {
  .header__left > a > img {
    width: 118px;
    height: 30px;
  }
}

.header__right {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 850px) {
  .header__right {
    display: none;
  }
}

.hr-style {
  height: 30px;
  margin: 0 10px 0 10px;
}

@media screen and (max-width: 1450px) {
  .hr-style {
    display: none;
  }
}

.hr-style2 {
  height: 30px;
  margin: 0 10px 0 70px;
}

@media screen and (max-width: 1600px) {
  .hr-style2 {
    margin: 0 10px 0 10px;
  }
}

.phone {
  display: flex;
}

.phone > svg {
  margin-right: 10px;
}

.phone__block {
  display: flex;
  flex-direction: column;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  line-height: 25px;
}

.phone__block > a {
  text-decoration: none;
  font-size: 20px;
  color: #2b2927;
  padding: 0;
}

@media screen and (max-width: 1600px) {
  .phone__block > a {
    font-size: 16px;
  }
}

.phone__block > p {
  color: rgba(43, 41, 39, 0.45);
  font-size: 14px;
  cursor: pointer;
}

.phone__block > p:hover {
  color: rgba(239, 72, 36, 1);
}

.phone__button {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
  background-color: rgba(254, 243, 241, 1);
  width: 251px;
  height: 50px;
  border-radius: 8px;
  padding: 17px, 25px, 18px, 25px;
  border: none;
  cursor: pointer;
}

.phone__button:hover {
  color: rgba(255, 255, 255, 1);
  background-color: rgba(239, 72, 36, 1);
}

.phone__button:hover > svg > path {
  stroke: rgba(254, 243, 241, 1);
}

@media screen and (max-width: 850px) {
  .phone__button {
    width: 100%;
    font-size: 14px;
    line-height: 20px;
    margin-top: 10px;
  }
}

.topmenu {
  display: flex;
  list-style-type: none;
  margin-top: 5px;
  margin-left: 60px;
}

@media screen and (max-width: 1600px) {
  .topmenu {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1450px) {
  .topmenu {
    margin-left: 0px;
  }
}

@media screen and (max-width: 850px) {
  .menu-nav {
    flex-direction: column;
  }
  .display-max {
    display: none;
  }
}

.menu-nav > li:not(:last-child) {
  margin-right: 30px;
  display: flex;
  align-items: center;
}

@media screen and (max-width: 1600px) {
  .menu-nav > li:not(:last-child) {
    margin-right: 10px;
  }
}

@media screen and (max-width: 850px) {
  .menu-nav > li:not(:last-child) {
    margin-right: 0px;
    margin-bottom: 25px;
  }
}
/*
@media screen and (max-width: 1600px) {
  .menu-nav {
    margin-right: 10px;
  }
}
*/
.menu-header {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;
  text-align: left;
  color: rgba(43, 41, 39, 1);
  text-decoration: none;
  padding: 0;
  position: relative;
}

.icon {
  position: relative;
}

.icon > a:after {
  content: url(../images/arrow.svg);
  width: 16px;
  height: 16px;
  margin-left: 5px;
  display: flex;
  align-items: center;
  margin-top: 5px;
}

@media screen and (max-width: 850px) {
  .icon > h3:after {
    transform: rotate(-90deg);
    margin: 0 0 5px 10px;
  }
}

.icon-right > li {
  position: relative;
}

.icon-right > li > a:after {
  content: url(../images/arwow-right.svg);
  width: 16px;
  height: 16px;
  position: absolute;
  top: 0;
  right: 0;
}

a {
  list-style-type: none;
  /*color: white;
  padding: 15px 30px;
  display: inline-block;*/
}

.submenu > a {
  padding: 0px;
}
.menu-header {
  position: relative;
  display: flex;
  align-items: center;
}

.submenu {
  width: 482px;
  padding: 30px;
  border-radius: 10px;
  position: absolute;
  z-index: 5;
  transform-origin: 0 0;
  transform: rotateX(-90deg);
  transition: 0.3s linear;
  visibility: hidden;
  opacity: 0;
  visibility: visible;
  opacity: 1;
  list-style-type: none;
  top: 50px;
}

.submenu > li {
  position: relative;
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 50px;
}

.submenu .submenu {
  position: absolute;
  top: 0px;
  left: 100%;
  transition: transform 0.3s linear;
  list-style-type: none;
  background-color: rgba(255, 255, 255, 1);
  width: 471px;
}

.topmenu li:hover > .submenu {
  visibility: visible;
  transform: rotateX(0deg);
  opacity: 1;
}

.submenu a {
  display: block;
  color: black;
  list-style-type: none;
  padding: 0;
}

.menu-first {
  background-color: rgba(244, 243, 245, 1);
}

.header__modal {
  position: absolute;
  max-width: 380px;
  padding: 15px;
  top: 1px;
  right: 0;
  z-index: 5;
  background-color: rgba(255, 255, 255, 1);
}

/*vodal */

@media screen and (max-width: 850px) {
  .header__modal {
    width: 380px;
  }
}

@media screen and (max-width: 400px) {
  .header__modal {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .modal-contacts {
    display: flex;
    margin-top: 65px;
    flex-direction: column;
  }
}

.contacts__block {
  display: none;
}

@media screen and (max-width: 850px) {
  .contacts__block {
    display: flex;
    align-items: center;
  }
  .contacts__block > svg {
    margin-right: 10px;
  }

  .modal-contacts > div:not(:last-child) {
    margin-bottom: 10px;
  }
}

.contacts__block > span {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
}

.contacts__block > a {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(43, 41, 39, 0.9);
}

.contacts__block > div > a {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 25px;
  color: rgba(43, 41, 39, 0.9);
}

.contacts__block > div > span {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 15px;
  color: rgba(43, 41, 39, 0.5);
}

.modal__social {
  display: flex;
  margin-top: 10px;
}

.modal__social > svg:not(:last-child) {
  margin-right: 10px;
}

.nav-min {
  margin-top: 20px;
}

/*аккордион */
.accordion-item {
  margin-bottom: 30px;
}

.accordion-item--active .accordion-item__content {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgba(43, 41, 39, 1);
  display: block;
}

.accordion-item__content {
  display: none;
}

.accordion-item2 {
  margin-bottom: 5px;
}

.accordion-item .accordion-item__trigger:after {
  content: url(./../images/arrow.svg);
  transform: rotate(-90deg);
  display: inline-block;
  margin-left: 10px;
}

.accordion-item--active .accordion-item__trigger:after {
  content: url(./../images/arrow.svg);
  transform: rotate(0deg);
  display: inline-block;
  margin-left: 10px;
}

.accordion2 {
  margin-top: 20px;
}

.accordion-item--active2 .accordion-item__content2 {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.5);
  display: block;
}

.accordion-item__trigger2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.accordion-item--active .accordion-item__trigger2 > svg {
  transform: rotate(90deg);
}

.accordion-item--active2 .accordion-item__trigger2 > svg {
  transform: rotate(270deg);
  stroke: red;
}

.accordion-item__trigger2 {
  padding: 5px;
}

.accordion-item__content2 {
  padding: 5px;
  display: none;
}

.trigger-style {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  color: rgba(43, 41, 39, 1);
}
