.contacts__wrap {
  margin: 70px 0 70px 0;
}

.headline-form {
  max-width: 550px;
}

@media screen and (max-width: 700px) {
  .contacts__left > h2 {
    max-width: 280px;
  }
}

.contacts__section {
  display: flex;
  justify-content: space-between;
  background-color: rgba(239, 72, 36, 1);
  border-radius: 20px;
  max-width: 1520px;
  padding: 15px 15px 15px 60px;
  align-items: center;
}

@media screen and (max-width: 1560px) {
  .contacts__section {
    flex-direction: column;
    justify-content: start;
    padding: 5px;
    border-radius: 10px;
  }
}

.contacts__form {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px 150px 60px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  margin-top: 30px;
}
@media screen and (max-width: 768px) {
  .contacts__form {
    margin-top: 15px;
  }
}

.textarea-form {
  width: 100%;
  height: 150px;
  border-radius: 10px;
  border: none;
  background-color: rgba(241, 90, 58, 1);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 1);
  padding: 20px;
}

.input-small-form {
  width: 305px;
  height: 60px;
  border-radius: 10px;
  border: none;
  background-color: rgba(241, 90, 58, 1);
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;
  padding-left: 20px;
  color: rgba(255, 255, 255, 1);
}

@media screen and (max-width: 1560px) {
  .textarea-form {
    height: 140px;
  }
  .input-small-form {
    width: 100%;
    height: 55px;
  }
}

.input1 {
  grid-area: 1 / 1 / 2 / 2;
}
.input2 {
  grid-area: 1 / 2 / 2 / 3;
}
.input3 {
  grid-area: 2 / 1 / 3 / 3;
}
.b4 {
  grid-area: 3 / 1 / 4 / 2;
  background-color: rgba(43, 41, 39, 1) !important;
  color: rgba(255, 255, 255, 1) !important;
}
.b5 {
  grid-area: 3 / 2 / 4 / 3;
  border: 1px solid rgba(255, 255, 255, 1) !important;
  display: flex;
  align-items: center;
}

.contacts__left {
  max-width: 630px;
}

@media screen and (max-width: 1560px) {
  .contacts__left {
    max-width: 100%;
    padding: 20px 20px 15px 20px;
  }
}

.contacts__left > div {
  font-family: "Manrope", sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(255, 255, 255, 0.55);
}

@media screen and (max-width: 425px) {
  .contacts__left > div {
    font-size: 10px;
  }
}

.contacts__right {
  width: 755px;
  border-radius: 15px;
  overflow: hidden;
}

.map {
  width: 100%;
  height: 580px;
}

@media screen and (max-width: 1560px) {
  .contacts__right {
    margin-top: 20px;
    border-radius: 10px;
  }
  .contacts__right {
    width: 630px;
  }
  .map {
    height: 450px;
  }
}

@media screen and (max-width: 690px) {
  .contacts__right {
    width: 100%;
  }
}

@media screen and (max-width: 700px) {
  .contacts__form {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, 55px) 140px repeat(2, 55px);
    grid-column-gap: 0px;
    grid-row-gap: 10px;
  }

  .input1 {
    grid-area: 1 / 1 / 2 / 2;
  }
  .input2 {
    grid-area: 2 / 1 / 3 / 2;
  }
  .input3 {
    grid-area: 3 / 1 / 4 / 2;
  }
  .b5 {
    grid-area: 4 / 1 / 5 / 2;
  }
  .b4 {
    grid-area: 5 / 1 / 6 / 2;
  }
}

@media screen and (max-width: 700px) {
  .headline-form {
    font-size: 28px !important;
    line-height: 25px !important;
  }
}

.input-file-wrap {
  display: flex;
  align-items: center;
  width: 160px;
  margin: 17px auto;
}

@media screen and (max-width: 700px) {
  .input-file-wrap {
    margin: 15px auto;
  }
}

.input-file-wrap > svg {
  margin-right: 5px;
}

.input-file {
  position: relative;
  display: inline-block;
}
.input-file span {
  position: relative;
  display: inline-block;
  cursor: pointer;
  vertical-align: middle;
  box-sizing: border-box;
  border: none;
  margin: 0;
  transition: background-color 0.2s;
}
.input-file input[type="file"] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}

.input-file input[type="file"]:focus + span {
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.input-file input[type="file"]:disabled + span {
  background-color: #eee;
}

.ss {
  left: 120px;
}

#feedback {
  position: relative;
}

.delete-btn {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.delete-symbol {
  position: absolute;
  top: 16px;
  right: 20px;
}

@media screen and (max-width: 700px) {
  .delete-symbol {
    top: 14px;
  }
}
