.portfolio {
  margin-top: 55px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin-top: 37px;
  }
}

.portfolio__cards {
  margin-top: 35px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(493px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 1540px) {
  .portfolio__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .portfolio__cards {
    margin-top: 51px;
  }
}

.porftolio__card {
  position: relative;
}

.porftolio__card > img {
  width: 100%;
  filter: brightness(90%);
  border-radius: 20px;
}

@media screen and (max-width: 380px) {
  .porftolio__card > img {
    height: 200px;
  }
}

.porftolio__card > div {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 45%;
  text-align: center;
  color: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 1540px) {
  .porftolio__card > div {
    top: 43%;
  }
}

@media screen and (max-width: 1024px) {
  .porftolio__card > div {
    top: 50%;
  }
}
