.portfolio {
  margin-top: 100px;
  width: 100%;
}

@media screen and (max-width: 768px) {
  .portfolio {
    margin-top: 30px;
  }
}

.portfolio__cards {
  margin-top: 15px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(493px, 1fr));
  grid-gap: 20px;
}

@media screen and (max-width: 1540px) {
  .portfolio__cards {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 10px;
  }
}

.porftolio__card {
  position: relative;
}

.porftolio__card > img {
  width: 100%;
  filter: brightness(90%);
  border-radius: 20px;
}

@media screen and (max-width: 380px) {
  .porftolio__card > img {
    height: 200px;
  }
}

.porftolio__card > h4 {
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  top: 40%;
  text-align: center;
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 40px;
  color: rgba(255, 255, 255, 1);
  text-transform: uppercase;
}

@media screen and (max-width: 1540px) {
  .porftolio__card > h4 {
    top: 43%;
    font-size: 26px;
    line-height: 25px;
  }
}

@media screen and (max-width: 1024px) {
  .porftolio__card > h4 {
    top: 50%;
  }
}
