.seo {
  margin: 155px 0 100px 0;
}

.wrapper-margin:has(.seo) ~ .wrapper-margin .seo {
  margin-top: 0;
}

@media screen and (max-width: 768px) {
  .seo {
    margin: 80px 0 60px 0;
  }
}

.open-block {
  margin-top: 30px;
  height: 170px;
  overflow: hidden;
  text-overflow: ellipsis;
}

@media screen and (max-width: 768px) {
  .open-block {
    margin-top: 20px;
    height: 160px;
    overflow: hidden;
  }
}

.showBlock {
  height: auto;
  overflow: auto;
}

.rotate_show {
  transform: rotate(180deg);
}

.seo__button {
  margin-top: 15px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
  background-color: transparent;
  height: 21px;
  display: flex;
}

@media screen and (max-width: 768px) {
  .seo__button {
    font-size: 14px;
  }
}

.seo__button > svg {
  margin-left: 5px;
  margin-top: 5px;
}

.seo__form {
  display: flex;
  justify-content: space-between;
  background-color: rgba(239, 72, 36, 1);
  border-radius: 20px;
  width: 1520px;
  padding: 10px 10px 10px 60px;
  align-items: center;
}

.wrapper165 {
  margin-top: 165px;
}

@media screen and (max-width: 1440px) {
  .wrapper165 {
    margin: 85px auto 0 auto;
  }
}

@media screen and (max-width: 1520px) {
  .seo__form {
    width: 100%;
  }
}

@media screen and (max-width: 1440px) {
  .seo__form {
    padding: 10px;
    margin: 20px auto 0 auto;
  }
}

@media screen and (max-width: 1200px) {
  .seo__form {
    flex-direction: column-reverse;
  }
}

@media screen and (max-width: 768px) {
  .seo__form {
    padding: 5px;
    border-radius: 10px;
  }
}

.seo__left {
  max-width: 690px;
}

@media screen and (max-width: 1440px) {
  .seo__left {
    width: 100%;
    padding: 0 20px 10px 20px;
  }
}

.seo__left > h2 {
  color: rgba(255, 255, 255, 1) !important;
}

@media screen and (max-width: 1440px) {
  .seo__left > h2 {
    font-size: 55px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 768px) {
  .seo__left > h2 {
    font-size: 34px !important;
    line-height: 35px !important;
  }
}

.seo__left > form {
  margin-top: 40px;
}

@media screen and (max-width: 768px) {
  .seo__left > form {
    margin-top: 15px;
  }
}

.seo__right {
  max-width: 612px;
  max-height: 385px;
}

@media screen and (max-width: 1440px) {
  .seo__right {
    width: 100%;
    text-align: center;
  }
}

.seo__right > img {
  max-width: 612px;
  border-radius: 10px;
}

@media screen and (max-width: 1440px) {
  .seo__right > img {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .seo__right > img {
    border-radius: 5px;
    height: 220px;
  }
}
