.faq {
  background-color: rgba(244, 243, 245, 1);
}

.faq__block {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 5px;
}

.faq__right {
  max-width: 513px;
  position: relative;
}

.faq__left {
  max-width: 750px;
}

@media screen and (max-width: 1300px) {
  .faq__block {
    flex-direction: column;
    justify-content: center;
  }
  .faq__right {
    max-width: 100%;
    position: relative;
  }

  .faq__left {
    max-width: 100%;
  }
  .faq__right > a > img {
    display: none;
  }
}

.faq__right > p {
  margin-top: 20px;
}

.faq__right > a {
  position: absolute;
  bottom: 10px;
  left: 0;
}

/*аккодион*/
.accordion-faq {
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 1);
  width: 100%;
  position: relative;
  border-radius: 10px;
  cursor: pointer;
}

@media screen and (max-width: 1300px) {
  .accordion-faq {
    margin-top: 30px;
    margin-bottom: 0px;
  }
}

.accordion-faq--active .accordion-faq__content {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 25px;
  color: rgba(43, 41, 39, 0.9);
  display: block;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .accordion-faq--active .accordion-faq__content {
    font-size: 13px;
    line-height: 20px;
  }
}

.accordion-faq__content {
  display: none;
}

.accordion-faq__content {
  background-color: rgba(255, 255, 255, 1);
}

.accordion-faq__content > div {
  background-color: rgba(249, 249, 250, 1);
  padding: 20px 25px 20px 25px;
}

@media screen and (max-width: 768px) {
  .accordion-faq__content > div {
    padding: 15px;
  }
}

.accordion-faq__trigger {
  padding: 15px;
  width: 750px;
  height: 75px;
  display: flex;
  justify-content: space-between;
  border-radius: 10px;
}

@media screen and (max-width: 1300px) {
  .accordion-faq__trigger {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .accordion-faq__trigger {
    height: 70px;
    padding: 15px;
  }
}
@media screen and (max-width: 375px) {
  .accordion-faq__trigger {
    padding: 10px;
  }
}

.accordion-faq .accordion-faq__trigger:after {
  content: "";
  width: 41px;
  height: 41px;
  border-radius: 5px;
  background: linear-gradient(#ef4824, #ef4824), rgba(254, 243, 241, 1);
  background-position: center;
  background-size: 50% 2px, 2px 0%;
  background-repeat: no-repeat;
}

.accordion-faq--active .accordion-faq__trigger:after {
  content: "";
  display: inline-block;
  width: 41px;
  height: 41px;
  border-radius: 5px;
  background: linear-gradient(#ef4824, #ef4824),
    linear-gradient(#ef4824, #ef4824), rgba(254, 243, 241, 1);
  background-position: center;
  background-size: 50% 2px, 2px 50%;
  background-repeat: no-repeat;
}

@media screen and (max-width: 768px) {
  .accordion-faq .accordion-faq__trigger:after {
    width: 34px;
    height: 34px;
  }

  .accordion-faq--active .accordion-faq__trigger:after {
    width: 34px;
    height: 34px;
  }
}

.faq-style {
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: rgba(43, 41, 39, 1);
  align-items: center;
}

@media screen and (max-width: 768px) {
  .faq-style {
    font-size: 15px;
    line-height: 20px;
  }
}

.accordion-faq__trigger > p {
  margin-top: 10px;
  padding-left: 15px;
  width: 90%;
}

@media screen and (max-width: 768px) {
  .accordion-faq__trigger > p {
    margin-top: 10px;
    padding-left: 0;
  }
}
@media screen and (max-width: 380px) {
  .accordion-faq__trigger > p {
    width: 84%;
  }
}

@media screen and (max-width: 425px) {
  .accordion-faq__trigger > p {
    margin-top: 0;
  }
}
