.provide-slide {
  background-color: rgba(244, 243, 245, 1);
  border-radius: 20px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .provide-slide {
    font-size: 13px;
    border-radius: 5px;
  }
}

.provide-slide > img {
  width: 100%;
  border-radius: 20px;
}

@media screen and (max-width: 768px) {
  .provide-slide > img {
    font-size: 13px;
    border-radius: 5px;
  }
}

.provide__block {
  padding: 20px;
}

.provide__block > h4 {
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 25px;
  color: rgba(43, 41, 39, 0.9);
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .provide__block > h4 {
    font-size: 20px;
    line-height: 25px;
  }
}

.provide__block > p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.55);
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .provide__block > p {
    font-size: 13px;
    line-height: 20px;
  }
}

.provide__block > span {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
}
@media screen and (max-width: 768px) {
  .provide__block > span {
    font-size: 14px;
    line-height: 20px;
  }
}
