.stage {
  margin: 80px 0 160px 0;
}

@media only screen and (max-width: 768px) {
  .stage {
    margin: 45px 0 80px 0;
  }
}

.stage > p {
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 16px;
  line-height: 25px;
  text-transform: uppercase;
  color: rgba(43, 41, 39, 1);
}

.stage__block {
  display: flex;
  overflow-x: auto;
  min-width: 100%;
  margin-top: 35px;
  gap: 20px;
}
.stage__block::-webkit-scrollbar {
  width: 0;
}

@media screen and (max-width: 1600px) {
  .stage__block {
    gap: 10px;
  }
}

@media screen and (max-width: 768px) {
  .stage__block {
    margin-top: 15px;
  }
}

.stage__card {
  width: 365px;
  height: 360px;
  background-color: rgba(244, 243, 245, 1);
  border-radius: 20px;
  padding: 30px;
}

@media only screen and (max-width: 768px) {
  .stage__card {
    width: 330px;
    height: 300px;
    border-radius: 10px;
  }
}

.stage__card > span {
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 92px;
  line-height: 90px;
  color: rgba(239, 72, 36, 1);
  text-transform: uppercase;
  text-align: start;
}

@media screen and (max-width: 1600px) {
  .stage__card > span {
    font-size: 58px;
    line-height: 50px;
  }
}

.stage__card > .headline-h3 {
  margin-top: 105px;
}

.stage__card > p {
  margin-top: 15px;
}
