.stageSlider {
  margin-top: 30px;
}

.stageSlider .swiper-slide {
  height: auto !important;
}

.stage__slider {
  height: 100%;
  background-color: rgba(244, 243, 245, 1);
  border-radius: 20px;
  padding: 5px;
}

@media screen and (max-width: 768px) {
  .stage__slider {
    border-radius: 10px;
  }
}

.stage__block-slider > p {
  font-family: "Manrope", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: rgba(43, 41, 39, 0.55);
  margin-top: 15px;
  margin-bottom: 15px;
}
@media screen and (max-width: 768px) {
  .stage__block-slider > p {
    font-size: 13px;
    line-height: 20px;
    margin-top: 5px;
    margin-bottom: 10px;
  }
}

.stage__block-slider > span {
  font-family: "Manrope", sans-serif;
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
}
@media screen and (max-width: 768px) {
  .stage__block-slider > span {
    font-size: 14px;
    line-height: 20px;
  }
}

.stage__block-slider {
  padding: 25px 50px 25px 20px;
}

@media screen and (max-width: 768px) {
  .stage__block-slider {
    padding: 20px 15px 20px 15px;
  }
}

.stage__block-slider > h4 {
  max-width: 340px;
}

@media screen and (max-width: 425px) {
  .stage__block-slider > h4 {
    max-width: 100%;
    font-size: 20px !important;
  }
}

.stage__slider > img {
  width: calc(100% - 0px);
  border-radius: 15px;
  height: 285px;
  object-fit: cover;
  object-position: center;
}

@media screen and (max-width: 768px) {
  .stage__slider > img {
    border-radius: 10px;
    height: 185px;
  }
}
