@import "./normalize.css";
@import "./header.css";
@import "./banner.css";
@import "./service.css";
@import "./catalog.css";
@import "./solutions.css";
@import "./calculation.css";
@import "./director.css";
@import "./property.css";
@import "./choice.css";
@import "./projects.css";
@import "./seo.css";
@import "./footer.css";
@import "./modals.css";
@import "./catalog2.css";
@import "./descriprion.css";
@import "./goods.css";
@import "./card.css";
@import "./service.css";
@import "./measuring.css";
@import "./stage.css";
@import "./service-stage.css";
@import "./service-faq.css";
@import "./portfolio.css";
@import "./portfolio-objects.css";
@import "./desision-card2.css";
@import "./about.css";
@import "../vendor/fonts.css";

html {
  overflow-x: clip;
}

body {
  margin: 0;
  padding: 0;
  max-width: 100%;
  overflow-x: clip;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
  padding: 0;
}

.color-black {
  color: rgba(43, 41, 39, 1);
}

.color-white {
  color: rgba(255, 255, 255, 1);
}

li {
  list-style-type: none;
}

.hr-vertical {
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.hr-vertical-white {
  border-left: 1px solid rgba(255, 255, 255, 0.1);
}

.button-standart {
  background-color: rgba(239, 72, 36, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

.button-standart > svg {
  margin-left: 5px;
}

@media screen and (max-width: 768px) {
  .button-standart {
    font-size: 14px;
  }
}

.button-standart > a {
  padding: 0;
  margin-left: 5px;
}

.button-standart:hover {
  background-color: rgba(226, 62, 26, 1);
}

button {
  border: none;
  cursor: pointer;
}

.button239 {
  width: 239px;
  height: 60px;
  border-radius: 10px;
}

@media screen and (max-width: 768px) {
  .button239 {
    height: 55px;
  }
}

.wrapper-margin {
  max-width: 1540px;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.headline {
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 55px;
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 38px;
    line-height: 40px;
  }
}

.wrapper-padding {
  padding: 160px 0px 200px 0px;
}

@media screen and (max-width: 768px) {
  .wrapper-padding {
    padding: 80px 0px 280px 0px;
  }
}

@media screen and (max-width: 380px) {
  .wrapper-padding {
    padding: 80px 0px 50px 0px;
  }
}

.desc {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  color: rgba(43, 41, 39, 0.9);
}

@media screen and (max-width: 768px) {
  .desc {
    font-size: 14px;
    line-height: 20px;
  }
}

@media screen and (max-width: 375px) {
  .desc {
    line-height: 16px;
  }
}

.button-slider {
  width: 40px;
  height: 40px;
  border-radius: 5px;
}

.bc255 {
  background-color: rgba(255, 255, 255, 0.1);
}

.bc254 {
  background-color: rgba(254, 243, 241, 1);
}
.bc255025 {
  background-color: rgba(255, 255, 255, 0.25);
}

.slider-buttons-block {
  width: 90px;
  height: 40px;
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 768px) {
  .slider-buttons-block {
    display: none;
  }
}

.seo__wrap {
  margin: 0 auto 100px auto;
}

@media screen and (max-width: 768px) {
  .seo__wrap {
    margin: 0 auto 50px auto;
  }
}

.breadcrumb {
  list-style: none;
  padding-top: 35px;
}

ul.breadcrumb li {
  display: inline;
  font-size: 18px;
}

ul.breadcrumb li + li:before {
  padding: 8px;
  content: "/\00a0";
}

ul.breadcrumb li a {
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

ul.breadcrumb li a:hover {
}

.button100 {
  width: 100%;
  height: 60px;
}

@media screen and (max-width: 768px) {
  .button100 {
    height: 55px;
  }
}
