@import "./header.css";
@import "./banner.css";
@import "./service.css";
@import "./catalog.css";
@import "./normalize.css";
@import "../vendor/fonts.css";

body {
  margin: 0;
  padding: 0;
  max-width: 1920px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  list-style-type: none;
}

.hr-vertical {
  border-left: 1px solid rgba(238, 238, 238, 1);
}

.button-standart {
  background-color: rgba(239, 72, 36, 1);
  color: rgba(255, 255, 255, 1);
  border: none;
  cursor: pointer;
  border-radius: 10px;
  font-family: "Manrope", sans-serif;
  font-weight: 700;
  font-size: 15px;
  margin: 0;
}

@media screen and (max-width: 768px) {
  .button-standart {
    font-size: 14px;
  }
}

.button-standart:hover {
  background-color: rgba(226, 62, 26, 1);
}

.wrapper-margin {
  max-width: 1540px;
  display: flex;
  margin: 0 auto;
  padding: 0 10px 0 10px;
}

.headline {
  font-family: "BebasNeue", sans-serif;
  font-weight: 700;
  font-size: 58px;
  line-height: 55px;
  color: rgba(43, 41, 39, 1);
  text-transform: uppercase;
}

@media screen and (max-width: 768px) {
  .headline {
    font-size: 38px;
    line-height: 40px;
  }
}
