.text {
  max-width: 1135px;
}

.text > p {
  margin-top: 30px;
}

.text > h2 {
  margin-top: 50px;
}

.second__block {
  margin-top: 80px;
}

.second__block > p {
  margin-top: 20px;
}

.second__block > p {
  margin-top: 20px;
}
.measure-list {
  margin-top: 20px;
}

.measure-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.second__block > h4 {
  margin-top: 50px;
}

.citation {
  display: flex;
  margin-top: 20px;
}

.citation-right {
  border-right: 2px solid rgba(239, 72, 36, 1);
  width: 42px;
  position: relative;
}

.citation-right::before {
  content: url("../images/“.svg");
  width: 22px;
  height: 19px;
  position: absolute;
  top: 40%;
  right: 20px;
}

.citation-left {
  padding-left: 20px;
  width: calc(100% - 50px);
}

.text > img {
  width: 100%;
  border-radius: 20px;
  margin: 80px 0 15px 0;
}

.text > span {
  color: rgba(43, 41, 39, 0.55);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.measure-list {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
}

@media screen and (max-width: 768px) {
  .measure-list {
    font-size: 15px;
    line-height: 25px;
  }
}

.measure-list li:before {
  content: "—";
  position: relative;
  left: -5px;
}

.material-list {
  list-style-type: none;
  counter-reset: num;
  margin: 5px 0 0 35px;
  padding: 5px 0 5px 0;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .material-list {
    font-size: 14px;
    line-height: 20px;
  }
}

.material-list li {
  position: relative;
  margin: 0 0 0 0;
  padding: 10px 0 22px 10px;
  line-height: 25px;
}

@media screen and (max-width: 1024px) {
  .material-list li {
    padding: 0px 0 22px 10px;
  }
}

.material-list li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -38px;
  width: 40px;
  height: 40px;
  color: rgba(239, 72, 36, 1);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid rgba(239, 72, 36, 1);
}

.text-mt {
  margin-top: 5px !important;
}
