.text {
  max-width: 1135px;
}

.text > p {
  margin-top: 30px;
}

.text > h2 {
  margin-top: 50px;
}

.second__block {
  margin-top: 80px;
}
@media screen and (max-width: 768px) {
  .second__block {
    margin-top: 50px;
  }
}

.second__block > p {
  margin-top: 20px;
}

.measure-list {
  margin-top: 20px;
}

.measure-list > li:not(:last-child) {
  margin-bottom: 10px;
}

.second__block > h4 {
  margin-top: 50px;
}
@media screen and (max-width: 768px) {
  .second__block > h4 {
    margin-top: 25px;
  }
}

.citation {
  display: flex;
  margin-top: 25px;
}

.citation-right {
  border-right: 2px solid rgba(239, 72, 36, 1);
  width: 42px;
  position: relative;
}

@media screen and (max-width: 768px) {
  .citation-right {
    display: none;
  }
}

.citation-right::before {
  content: url("../images/“.svg");
  width: 22px;
  height: 19px;
  position: absolute;
  top: 40%;
  right: 20px;
}
.line-citaion-min {
  display: none;
}

.citation-left {
  padding-left: 20px;
  width: calc(100% - 50px);
}

@media screen and (max-width: 768px) {
  .citation-left {
    padding-left: 0px;
    width: 100%;
  }

  .line-citaion-wrap {
    display: flex;
    position: relative;
  }

  .line-citaion-min {
    margin-bottom: 15px;
    display: block;
    border-bottom: 1.5px solid rgba(239, 72, 36, 1);
    width: calc(100% - 20px);
    margin-left: 20px;
  }
  .line-citaion-wrap::before {
    content: "";
    background-image: url("../images/“.svg");
    width: 12px;
    position: absolute;
    height: 10px;
    background-size: cover;
    top: -5px;
    left: 0px;
  }
}

.text > img {
  width: 100%;
  border-radius: 20px;
  margin: 80px 0 15px 0;
}

@media screen and (max-width: 768px) {
  .text > img {
    border-radius: 10px;
    margin: 50px 0 0px 0;
  }
}

@media screen and (max-width: 380px) {
  .text > img {
    height: 240px;
  }
}

@media screen and (max-width: 375px) {
  .text > img {
    height: auto;
  }
}

.text > span {
  color: rgba(43, 41, 39, 0.55);
  font-family: "Manrope", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

@media screen and (max-width: 768px) {
  .text > span {
    font-size: 12px;
  }
}

.measure-list {
  font-family: "Manrope", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 25px;
  color: rgba(239, 72, 36, 1);
}

@media screen and (max-width: 768px) {
  .measure-list {
    font-size: 15px;
    line-height: 25px;
  }
}

.measure-list li:before {
  content: "—";
  position: relative;
  left: -5px;
}

.material-list {
  list-style-type: none;
  counter-reset: num;
  margin: 27px 0 0 35px;
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 25px;
}

@media screen and (max-width: 768px) {
  .material-list {
    font-size: 14px;
    margin: 15px 0 0 35px;
  }
}

.material-list li {
  position: relative;
  margin: 0 0 0 0;
  padding: 10px 0 22px 20px;
  line-height: 25px;
}

@media screen and (max-width: 1024px) {
  .material-list li {
    padding: 0px 0 22px 10px;
  }
}

@media screen and (max-width: 768px) {
  .material-list li {
    padding: 0px 0 15px 0px;
    line-height: 20px;
  }
}

.material-list li:before {
  content: counter(num);
  counter-increment: num;
  display: inline-block;
  position: absolute;
  top: 0;
  left: -38px;
  width: 40px;
  height: 40px;
  color: rgba(239, 72, 36, 1);
  font-family: "Manrope", sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  border-radius: 50%;
  border: 1px solid #eee;
}

@media screen and (max-width: 768px) {
  .material-list li:before {
    top: 7px;
    left: -38px;
    width: 30px;
    height: 30px;
    font-size: 16px;
    line-height: 28px;
  }
}

.text-mt {
  margin-top: 5px !important;
}
